@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Lista de cursos";
}
@section JavaScript
{
    <script src='@Url.Content("~/Content/js/crud.js")'></script>

}        
<table class='table'>
  <thead>
    <td>Nome</td>
    <td>Ações</td>
  </thead>
  <tbody>
    @foreach(var course in @Model) {
        <tr>
            <td>@course.Name</td> 
            <td>   
				<a href='@Url.Content("~/courses/" + course.Id)' class='btn'>
          <i class="icon-eye-open"></i>
				  Exibir
				</a> 
				<a href='@Url.Content("~/courses/edit/" + course.Id)' class='btn btn-info'>
				  <i class="icon-edit"></i>
				  Editar
				</a>
				<a href='@Url.Content("~/courses/delete/" + course.Id)' class='btn btn-danger delete' id="remove_button">
				  <i class="icon-remove"></i>
				  Remover
				</a>
            </td>
        </tr>
    }
  </tbody>
</table>



<div class="row-fluid">

  <a href="#" class="btn" id="back_button">
    <i class="icon-arrow-left"></i> Voltar
  </a>
  <a href='@Url.Content("~/courses/new")' class='btn btn-info'>
    <i class="icon-plus"></i> Cadastrar novo
  </a>
  
</div>


