@using GestUAB
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Novo colaborador";
}
@section JavaScript
{
    <script src='@Url.Content("~/Content/js/jquery.validate.js")'></script>
    <script src='@Url.Content("~/Content/js/jquery.validate.unobtrusive.js")'></script>
    <script src='@Url.Content("~/Content/js/jquery.pnotify.js")'></script>
    <script src='@Url.Content("~/Content/js/additional-methods.js")'></script>
    <script src='@Url.Content("~/Content/js/validation.js")'></script>
    <script src='@Url.Content("~/Content/js/bootstrap-inputmask.js")'></script>
    <script src='@Url.Content("~/Content/js/bootstrap-datepicker.js")'></script>
    <script src='@Url.Content("~/Content/js/locales/bootstrap-datepicker.pt-BR.js")'></script>
    <script src='@Url.Content("~/Content/js/crud.js")'></script>
}  

@section Styles
{
    <link href='@Url.Content("~/Content/css/datepicker.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/css/jquery.pnotify.default.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/css/jquery.pnotify.default.icons.css")' rel="stylesheet">
}
<a name="errors">
    <div id="errors"></div>
</a>
<form class="form-horizontal" id="new-form" method="post" action='@Url.Content("~/colaboradores/new")'>

  <fieldset>
  
    <legend>Novo colaborador</legend>

    @HtmlTagsExtensions.FieldsFor(@Model, FormAction.Create)


  </fieldset>
  
  <div class='form-actions fixed'>
  
    <button type="reset" class="btn" onclick="history.go(-1);return false;">Cancelar</button>
    <button type="reset" class="btn">Limpar</button>
    <button id="btn-new" type="submit" class="btn btn-primary">Salvar</button>
    
  </div>
  
</form>

