@using GestUAB
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Detalhes do setor";
}

@section JavaScript
{
    <script src='@Url.Content("~/Content/js/crud.js")'></script>
    <script src='@Url.Content("~/Content/js/bootbox.min.js")'></script>
} 

<div class="page-header">
<h1>Setor @Model.Nome</h1>
</div>

<div class="row-fluid">

    @HtmlTagsExtensions.LabelsFor(@Model)
  
</div>

<div class="row-fluid">

  <a href="#" class="btn" onclick="history.go(-1);return false;">Voltar</a>
  <a href='@Url.Content("~/setores/delete/"+@Model.Id)' class='btn-delete btn btn-danger'>
    <i class="icon-remove"></i> Remover
  </a>
  <a href='@Url.Content("~/setores/edit/"+@Model.Id)' class='btn btn-info'>
    <i class="icon-edit"></i> Editar
  </a>
  <a href='@Url.Content("~/setores/new")' class='btn btn-info'>
    <i class="icon-plus"></i> Cadastrar novo
  </a>
  
</div>
