@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Lista de carros";
}
@section JavaScript
{
    <script src='@Url.Content("~/Content/js/crud.js")'></script>

}        
<table class='table'>
  <thead>
    <td>Nome</td>
    <td>Ano/Modelo</td>
    <td>Chassi</td>
    <td>Placa</td>
    <td>Ações</td>
  </thead>
  <tbody>
    @foreach(var car in @Model) {
        <tr>
            <td>@car.Name</td> 
            <td>@car.Year</td> 
            <td>@car.Chassi</td> 
            <td>@car.Plate</td> 
            <td>   
				<a href='@Url.Content("~/cars/" + car.Id)' class='btn btn-small'>
          <i class="icon-eye-open"></i>
				  Exibir
				</a> 
				<a href='@Url.Content("~/cars/edit/" + car.Id)' class='btn btn-info btn-small'>
				  <i class="icon-edit"></i>
				  Editar
				</a>
				<a href='@Url.Content("~/cars/delete/" + car.Id)' class='btn btn-danger delete btn-small' id="remove_button">
				  <i class="icon-remove"></i>
				  Remover
				</a>
            </td>
        </tr>
    }
  </tbody>
</table>



<div class="row-fluid">

  <a href="#" class="btn" id="back_button">
    <i class="icon-arrow-left"></i> Voltar
  </a>
  <a href='@Url.Content("~/cars/new")' class='btn btn-info'>
    <i class="icon-plus"></i> Cadastrar novo
  </a>
  
</div>


