@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Lista de Professores";
}
@section JavaScript
{
    <script src='@Url.Content("~/Content/js/crud.js")'></script>

}        

<table class='table'>
  <thead>
    <td>Nome</td>
    <td>Curso</td>
  </thead>
  <tbody>
    @foreach(var teacher in @Model) {
        <tr> 
            <td>@teacher.Name</td>      
            <td>@teacher.Course.Name</td>
            <td>   
                <a href='@Url.Content("~/teachers/" + teacher.Id)' class='btn'>
                  Exibir
                </a> 
                <a href='@Url.Content("~/teachers/edit/" + teacher.Id)' class='btn btn-info'>
                  <i class="icon-edit"></i>
                  Editar
                </a>
                <a href='@Url.Content("~/teachers/delete/" + teacher.Id)' class='btn btn-danger delete'>
                  <i class="icon-remove"></i>
                  Remover
                </a>
            </td>
        </tr>
    }
  </tbody>
</table>


<div class="row-fluid">

  <a href="#" class="btn" onclick="history.go(-1);return false;">
    <i class="icon-arrow-left"></i> Voltar
  </a>
  <a href='@Url.Content("~/teachers/new")' class='btn btn-info'>
    <i class="icon-plus"></i> Cadastrar novo
  </a>
  
</div>
