@using GestUAB
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Detalhes do professor";
}

<div class="page-header">
<h1>Memorando</h1>
</div>

<div class="row-fluid">

    @HtmlTagsExtensions.LabelsFor(@Model)
  
</div>

<div class="row-fluid">

  <a href="#" class="btn" onclick="history.go(-1);return false;">Voltar</a>
  <a href='@Url.Content("~/teacher/delete/" + @Model.Id)' class='btn btn-danger'>
    <i class="icon-remove"></i> Remover
  </a>
  <a href='@Url.Content("~/teacher/edit/" + @Model.Id)' class='btn btn-info'>
    <i class="icon-edit"></i> Editar
  </a>
  <a href='@Url.Content("~/teacher/new")' class='btn btn-info'>
    <i class="icon-plus"></i> Cadastrar novo
  </a>
  
</div>
