@using GestUAB 
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Editar Viagem " + Model.TravelTitle;
}
@section JavaScript
{
    <script src='@Url.Content("~/Content/js/jquery.validate.js")'></script>
    <script src='@Url.Content("~/Content/js/jquery.validate.unobtrusive.js")'></script>
    <script src='@Url.Content("~/Content/js/additional-methods.js")'></script>
    <script src='@Url.Content("~/Content/js/validation.js")'></script>
    <script>
$(document).ready(function() {
  // Handler for .ready() called.
		$("#TeacherName").css("background-color", "red");
});
	</script>

}  

<div id="errors"></div>
<form class="form-horizontal" id="edit_form" method="POST" 
    action='@Url.Content("~/travels/edit/" + Model.TravelTitle)'>

  <fieldset>
  
    <legend>Editar viagem @Model.TravelTitle</legend>
    
    @HtmlTagsExtensions.FieldsFor(@Model, FormType.Update)
    
  </fieldset>
  
  <div class='form-actions'>
  
    <button type="reset" class="btn" 
        onclick="history.go(-1);return false;">Cancelar</button>
    <button type="reset" class="btn">Desfazer mudanças</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
    
  </div>
  
</form>

