@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "GestUAB - Sistema de Gestão da UAB/Unicentro";
}

@section HomeHeader {

    <header class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="logo">
            <img src='@Url.Content("~/Content/img/logo-uab.jpg")' alt="logo UAB">
        </div>
        <div class="title-header">
            <h1>GestUAB</h1>
            <p class="lead">Sistema de Gestão UAB/Unicentro.</p>
        </div>
      </div>
    </header>

}

<div class="shadow-left"><img src='@Url.Content("~/Content/img/shadow-left.png")' alt="Shadow"></div>
<div class="shadow-right"><img src='@Url.Content("~/Content/img/shadow-right.png")' alt="Shadow"></div>

<div id="carousel-home" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
        <img src='@Url.Content("~/Content/img/slider1.jpg")' alt="Slider 1">
        <div class="carousel-caption">
            <h4>Professores</h4>
            <p>Lorem ipsum dolor sit amet consectur dolor</p>
        </div>
    </div>	
    <div class="item">
        <img src='@Url.Content("~/Content/img/slider2.jpg")' alt="Slider 1">
        <div class="carousel-caption">
            <h4>Cursos</h4>
            <p>Lorem ipsum dolor sit amet consectur dolor</p>
        </div>
    </div>
    <div class="item">
        <img src='@Url.Content("~/Content/img/slider3.jpg")' alt="Slider 1">
        <div class="carousel-caption">
            <h4>Bolsas</h4>
            <p>Lorem ipsum dolor sit amet consectur dolor</p>
        </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#carousel-home" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel-home" data-slide="next">&rsaquo;</a>
</div>

<div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <h2>Sistema</h2>
          <p>Breve descrição do sistema faz. O que ele faz..<br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div><!--/span-->
        <div class="span4">
          <h2>Col-Main</h2>
          <p>Alguma coisa sobre desenvolvimento. Falar com os analistas..<br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
          
        </div><!--/span-->
        <div class="span4">
          <h2>Ajuda</h2>
          <p>Você pode obter informações de como realizar operações no sistema pelo link abaixo.<br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->