@using GestUAB
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Detalhes do usuário";
}

<div class="page-header">
<h1>Usuário @Model.Name</h1>
</div>

<div class="row-fluid">

    @HtmlTagsExtensions.LabelsFor(@Model)

  
</div>

<div class="row-fluid">

  <a href="#" class="btn" onclick="history.go(-1);return false;">Voltar</a>
  <a href='@Url.Content("~/users/delete/" + @Model.Username)' class='btn btn-danger'>
    <i class="icon-remove"></i> Remover
  </a>
  <a href='@Url.Content("~/users/update/" + @Model.Username)' class='btn btn-info'>
    <i class="icon-edit"></i> Editar
  </a>
  <a href='@Url.Content("~/users/create")' class='btn btn-info'>
    <i class="icon-plus"></i> Cadastrar novo
  </a>
  
</div>
