@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Lista de usuários";
}

@section JavaScript
{
    <script type="text/javascript" >
        $(function() {
        // Handler for .ready() called.
            $(".delete-link").click(function(event) {
                var link = $(this);
                event.preventDefault();
                $.ajax({
                   url: link.attr("href"),
                   async: false,
                   type: "DELETE",
                   dataType: "jsonp",
                   error: function(jqXHR, textStatus, errorThrown){
                            alert("Error!");
                   },
                   complete: function(jqXHR, textStatus){
                   },
                    statusCode: {
                        200: function(data, textStatus, jqXHR) {
                           link.parents("li:first").slideUp();
                        }
                      }                  
                });
            });
        });
    </script>
}


        teste teste
<ul>
    @foreach(var user in @Model) {
        <li class="user-item">
            <span>@user.Username</span> 
            <span><a href='@Url.Content("~/user/" + user.Username)'>Detalhes</a></span> 
            <span><a href='@Url.Content("~/user/update/" + user.Username)'>Editar</a></span>
            <span><a class="delete-link" href='@Url.Content("~/user/delete/" + user.Username)'>Excluir</a></span>
        </li>
    }
</ul>
<a href='@Url.Content("~/user/create")'>Inserir</a>
