@using GestUAB
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Detalhes da desistência";
}

<div class="page-header">
<h1>Desistencia @Model.ReasonGiveup</h1>
</div>

<div class="row-fluid">

    @HtmlTagsExtensions.LabelsFor(@Model)
  
</div>

<div class="row-fluid">

  <a href="#" class="btn" onclick="history.go(-1);return false;">Voltar</a>
  <a href='@Url.Content("~/desistences/delete/"+@Model.Id)' class='btn btn-danger'>
    <i class="icon-remove"></i> Remover
  </a>
  <a href='@Url.Content("~/desistences/edit/"+@Model.Id)' class='btn btn-info'>
    <i class="icon-edit"></i> Editar
  </a>
  <a href='@Url.Content("~/desistences/new")' class='btn btn-info'>
    <i class="icon-plus"></i> Cadastrar novo
  </a>
  
</div>
