@using GestUAB
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Novo memorando";
}
@section JavaScript
{
    <script src='@Url.Content("~/Content/js/jquery.validate.js")'></script>
    <script src='@Url.Content("~/Content/js/jquery.validate.unobtrusive.js")'></script>
    <script src='@Url.Content("~/Content/js/additional-methods.js")'></script>
    <script src='@Url.Content("~/Content/js/validation.js")'></script>
}  
<div id="errors"></div>
<form class="form-horizontal" id="new_form" method="post" action='@Url.Content("~/memorandums/new")'>
  
  <fieldset>
    <legend>Novo memorando</legend>    
    @HtmlTagsExtensions.FieldsFor(@Model, FormType.Create)    
  </fieldset>
  
  <div class='form-actions'>
    <button type="reset" class="btn" onclick="history.go(-1);return false;">Cancelar</button>
    <button type="reset" class="btn">Limpar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>  

</form>